@mobile: ~ "(max-width: 767px)";
@tablet: ~ "(min-width: 768px)";
@desktop: ~ "(min-width: 960px)";

@import "header.less";
@import "about.less";
@import "footer.less";

@blue:#29c5e6;
@grey:#b6b6b6;
@light-grey:#f3f3f3;

.lcw() {
  max-width:960px;
  margin: 0 auto;
}

@font-face {
  font-family: Oswald;
  src: url("font/Oswald/Oswald-Light.ttf");
}


body {
  background: #f7f7f7;
  margin: 0;
  font-family: Oswald, sans-serif;
}

input, button {
  ont-family: Oswald, sans-serif;
  cursor: pointer;
  outline: none;
}

.page-logo {
  width: 160px;
  height: 40px;
  background: url(img/page-logo.png) no-repeat center;
  background-size: contain;
  display: inline-block;
  &--footer {
    margin-top: 30px;
    width: 220px;
    background-position: 100% 50%;
    background-image: url(img/page-logo-footer.png);
  }
}